<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome!!</h1>
    <p class=" col-md-8 fs-4">This test has 10 questions .Each one carries 5 points</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct = 5 p</li>
        <li>Wrong = -3 p</li>
        <li>time = 60 sec for each question</li>
        <li>Refresh = Attempt Again</li>
    </ol>
    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Best Of Luck :)</h1>
    <div class="name col-md-4 my-3">
        <label for="">Your Name -</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question"  (click)="startQuiz()">Start</button>
</div>
